@page "{id}"
@model ASP_1411_lab.Pages.DetailsModel
@{
}
<h2>@Model.book.BookName, @Model.book.Year</h2>
<br />
<h3>Author: @Model.book.AuthorName</h3>
<br />
<p>Publisher: @Model.book.Publisher</p>
<p>Book style: @Model.book.Style</p>