@page "{id}"
@model ASP_1411_lab.Pages.EditModel
@{
}
<h2>Edit book</h2>
<form method="POST">
    <input name="id" value="@Model.Book?.Id" type="hidden" />
    <p>
        <label>Book name</label>
        <br />
        <input name="b_name" value="@Model.Book?.BookName" />
    </p>
    <p>
        <label>Author name</label>
        <br />
        <input name="a_name" value="@Model.Book?.AuthorName" />
    </p>
    <p>
        <label>Publisher</label>
        <br />
        <input name="publ" value="@Model.Book?.Publisher" />
    </p>
    <p>
        <label>Style</label>
        <br />
        <input name="st" value="@Model.Book?.Style" />
    </p>
    <p>
        <label>Year</label>
        <br />
        <input name="year" value="@Model.Book?.Year" />
    </p>
    <input type="submit" value="Save" />
</form>